name: Playground

on:
  workflow_dispatch:

jobs:
  inspect-java:
    runs-on: ubuntu-latest
    steps:
      - name: Run a multi-line script
        run: |
          echo "=== Java Version ==="
          java -version
          echo "\n=== Java Location ==="
          which java
          echo "\n=== Java Home ==="
          echo $JAVA_HOME

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Run a multi-line script
        run: |
          echo "=== Java Version ==="
          java -version
          echo "\n=== Java Location ==="
          which java
          echo "\n=== Java Home ==="
          echo $JAVA_HOME

  inspect-python:
    runs-on: macos-latest
    steps:
        - name: python version
          run: python --version 

  inspect-checkout-action:
    runs-on: ubuntu-latest
    steps:
        - name : before checkout foler contents
          run: ls -l
        - name: checkout code
          uses: actions/checkout@v4
        - name : after checkout folder contents
          run: ls -l
        
  
